.box{
  position: relative;
  left: 500px;
  top: 200px;
  width: 600px;
  padding: 30px;
}
.box h1 {
  color: grey;
  font-weight: bolder;
   position: relative;
   left: 50px;
}

.box h3 {
  position: relative;
  left: 240px;
}
.item-input {
  position: relative;
  left: 250px;
  height: 40px;
  width: 40px;
  background-color: antiquewhite;
  border-radius: 50px;
  text-align: center;
  font-size: large;
}
.negative {
  position: relative;
  left: 220px;
  border: 1px solid black;
  padding: 5px;
  background-color: red;
  color: white;
  text-decoration: none;
}
.positive {
  position: relative;
  left: 270px;
  border: 1px solid black;
  padding: 5px;
  background-color: green;
  color: white;
  text-decoration: none;

}
